<launch>
    <arg name="config_file"     default = "$(find aplvio)/../config/real/tumvi/tumvi_stereo_imu_config.yaml" />
    <arg name="output_folder"   default = "$(find aplvio)/../output/" />
    <arg name="rviz_path"       default = "$(find aplvio)/../config/rviz/rviz_aplvio_config.rviz" />

	<node name="aplvio" pkg="aplvio"  type="aplvio_ros_node" output="screen">
        <rosparam command="load" file="$(arg config_file)" />
        <param name="config_path" type="string" value="$(arg config_file)" />
        <param name="output_path" type="string" value="$(arg output_folder)" />
	</node>

    <arg name="doloop"          default="true" />
    <arg name="dorviz"          default="true" />
    <arg name="dobag"           default="true" />
    <arg name="dobenchmark"     default="true" />

    <group if="$(arg doloop)">
        <node name="loop_fusion" pkg="loop_fusion"  type="loop_fusion_node" output="screen">
            <rosparam command="load" file="$(arg config_file)" />
            <param name="config_path" type="string" value="$(arg config_file)" />
            <param name="output_path" type="string" value="$(arg output_folder)" />
        </node>
    </group>

    <group if="$(arg dorviz)">
        <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(arg rviz_path)" />
    </group>

    <group if="$(arg dobag)">
        <!-- dataset settings -->
        <!-- sequence: corridor1_512_16 corridor2_512_16 corridor3_512_16 corridor4_512_16 corridor5_512_16
            magistrale1_512_16 magistrale2_512_16 magistrale3_512_16 magistrale4_512_16 magistrale5_512_16 magistrale6_512_16 -->
        <arg name="sequence"        default = "dataset-corridor1_512_16" />
        <arg name="dataset_path"    default = "$(find aplvio)/../../../../../datasets/tumvi/$(arg sequence).bag" />
        <!-- <node pkg="rosbag" type="play" name="rosbag" output="log" args="-s 60 -r 2 $(arg dataset_path)" /> -->
        <node pkg="rosbag" type="play" name="rosbag" output="log" args="-s 0 -r 1 $(arg dataset_path)" />

        <group if="$(arg dobenchmark)">
            <include file="$(find benchmark)/launch/benchmark.launch">
                <arg name="dataset"     value = "tumvi" />
                <arg name="sequence"    value = "$(arg sequence)" />
            </include>
        </group>
    </group>
</launch> 
